$boxSize: 50px;
$smallBoxSize: 20px;
*{
    margin: 0;
    padding: 0;
}
main{
    margin: 0 auto;
    width: 80vw;
    position: relative;
    #side{
        position: absolute;
        top: 0%;
        left: 7%;
        padding: 10px;
        height: 50%;
        display: grid;
        grid-template-columns: repeat(10,$smallBoxSize);
        grid-template-rows: repeat(10,$smallBoxSize);
        justify-content: center;
        gap:0;
        .Hu{
            margin: 0 auto;
            border: 1px solid black;
            height: $smallBoxSize;
            width: $smallBoxSize;
            text-align: center;
            line-height: $smallBoxSize;
            font-size: 10px;
        }
    }
    #wrap{
        padding: 50px;
        height: 50%;
        display: grid;
        grid-template-columns: repeat(10,$boxSize);
        grid-template-rows: repeat(10,$boxSize);
        justify-content: center;
        gap:0;
        .Pc{
            margin: 0 auto;
            border: 1px solid black;
            height: $boxSize;
            width: $boxSize;
            text-align: center;
            line-height: $boxSize;
            font-size: 24px;
        }
    }
    button#start{
        position: absolute;
        padding:5px 10px;
        top: 50%;
        left: 15%;
    }
    #cover{
        display: none;
        height: $boxSize * 10.3;
        width: $boxSize * 10.3;
        position: absolute;
        top: 38px;
        left: 26.5%;
        background: #000;
        opacity: 25%;
    }
    h2#winner{
        width: $boxSize * 10;
        display: none;
        position: absolute;
        top: 2%;
        left: 27%;
        font-size: 85px;
        text-align: center;
        line-height: $boxSize * 10.3;
        color: red;
        opacity: 1;
    }
}